html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

.container-fluid.content {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 100%;
}
.container-fluid.content>.row {
  height: 100%;
}    
.mainview, .navview {
  height: 100%;
  overflow: auto;        
}
.mainview {
  padding: 0px;
  padding-left: 2px;
}

.top-navview.navbar.navbar-inverse{
  background-color: #2e353d;
  border-color: #23282e;
}

.top-navview .sidebar-btn{
  background-color: #2e353d;
  border-color: #23282e;
  color:#e1ffff;
  float: left;
  margin-right: 18px;
}

.toolbar {
  position:absolute; 
  top:50px;
  z-index:9999;
}


@media (max-width: 767px) {
  .mainview, .navview {
    height: auto;   
  }
}

.navview {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  height: 100%;
  color: #e1ffff;
  padding: 0px;
}

.navview .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.navview .toggle-btn {
  display: none;
}

.navview ul,
.navview li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.navview ul .arrow,
.navview li .arrow {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.navview ul .active,
.navview li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.navview ul .sub-menu li.active,
.navview li .sub-menu li.active {
  color: #d19b3d;
}

.navview ul .sub-menu li.active a,
.navview li .sub-menu li.active a {
  color: #d19b3d;
}

.navview ul .sub-menu li,
.navview li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.navview ul .sub-menu li:hover,
.navview li .sub-menu li:hover {
  background-color: #020203;
}

.navview ul .sub-menu li:before,
.navview li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 32px;
  padding-right: 10px;
  vertical-align: middle;
} 

.navview li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.navview li a {
  text-decoration: none;
  color: #e1ffff;
}

.navview li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 24px;
}

.navview li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .navview {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
  }
  .navview .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
  }
  .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .navview .menu-list .menu-content {
      display: block;
  }
}

.sshTerminal{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: black;
  font-size: 13px;
  padding-left: 5px;
}

.sshTerminal .terminal{
  color: limegreen;
}