html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

.container-fluid.content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.container-fluid.content>.row {
  height: 100%;
}    
.mainview, .navview {
  height: 100%;
  overflow: auto;        
}
.mainview {
  padding: 0px;
  background: linear-gradient(#dad9da, #d9d8d9);
}

.top-navview.navbar.navbar-inverse{
  background-color: #2e353d;
  border-color: #23282e;
}

.top-navview .sidebar-btn{
  background-color: #2e353d;
  border-color: #23282e;
  color:#e1ffff;
  float: left;
  margin-right: 18px;
}

.sidebarBtn{
  position: absolute;
  z-index: 100;
  left: 0px;
  top: -4px;
  padding: 15px 12px 6px 12px;
}

.toolbar {
  position:absolute; 
  top:50px;
  z-index:9999;
}


@media (max-width: 767px) {
  .mainview, .navview {
    height: auto;   
  }
}

.navview {
  overflow: initial;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  height: 100%;
  color: #e1ffff;
  padding: 0px;
}

.navview .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.navview .toggle-btn {
  display: none;
}

.navview ul.item,
.navview li.item {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.navview ul.item .arrow,
.navview li.item .arrow {
  vertical-align: middle;
  float: right;
  margin-right: 12px;
}

.navview ul.item .active,
.navview li.item .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.navview ul.item .sub-menu li.item.active,
.navview li.item .sub-menu li.item.active {
  color: #d19b3d;
}

.navview ul.item .sub-menu li.item.active a,
.navview li.item .sub-menu li.item.active a {
  color: #d19b3d;
}

.navview ul.item .sub-menu li.item,
.navview li.item .sub-menu li.item {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.navview ul.item .sub-menu li.item:hover,
.navview li.item .sub-menu li.item:hover {
  background-color: #020203;
}

.navview ul.item .sub-menu li.item:before,
.navview li.item .sub-menu li.item:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 32px;
  padding-right: 10px;
  vertical-align: middle;
} 

.navview li.item {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.navview li.item > a {
  text-decoration: none;
  color: #e1ffff;
  outline: 0px;
  outline-offset: 0px;
}

.navview li.item > a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 24px;
}

.navview li.item:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.navview .dropdown-menu{
  font-size: 12px;
}

@media (max-width: 767px) {
  .navview {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
  }
  .navview .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
  }
  .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .navview .menu-list .menu-content {
      display: block;
  }
}

.sshTerminal{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: black;
  font-size: 13px;
  padding-left: 10px;
  display: block;
}

.sshTerminal .terminal{
  color: limegreen;
}

.addProfile{
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.addProfile a{
  width: 90%;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.modal-header-galaxy {
  color:#fff;
  padding:6px 15px;
  border-bottom:1px solid #eee;
  background-color: #2e353d;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.modal-header-galaxy .close{
  color: white;
}

.modal-footer-galaxy{
  padding: 6px 15px;
}

.fullScreen {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .modal-header-galaxy{
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
  }
   
  .modal-header .fa{
    padding-right: 5px;
    margin-right: 16px;
  } 

  .modal-header > button{
    margin-left: 12px;
    margin-top: 2px;
  }
  
}

.search-window{
  border-radius: 0px;
  right: 0px;
  left: initial;
  top: 82px;
  padding: 9px;
  margin: auto;
  display:block;
  max-width: initial;
}

.search-window .content{
  display: inline-block;
  vertical-align:middle;
  margin-left: 12px;
}


/* .fullScreen .modal-body{
  width: 40%;
  margin: auto;
} */