<div class="modal-header modal-header-galaxy modal-header-fullscreen">
    <h5 style="display:inline-block;"><i class="fa fa-arrow-left" data-dismiss="modal" ng-click="instanceCtrl.no()"></i> {{!instanceCtrl.data.editMode?'Add':'Edit'}}
        Profile</h5>
    <button type="button" class="btn btn-primary pull-right btn-sm" ng-disabled="vm.isInvalid()" ng-click="instanceCtrl.saveInstance()">Save</button>
    <button type="button" class="btn btn-default pull-right btn-sm" ng-click="instanceCtrl.testConnection()">Test Connection</button>
</div>
<div class="modal-body" style="width:50%">
        <form name="instance" novalidate class="form-horizontal">
            <div class="form-group form-group-sm">
                <label for="type" class="control-label col-sm-3">Type:</label>
                <div class="col-sm-9">
                    <select class="form-control input-sm" id="type" ng-model="instanceCtrl.instance.type" ng-options="k as v.label for (k,v) in instanceCtrl.config.profile.types"
                        required></select>
                </div>
            </div>

            <div ng-if="instanceCtrl.instance.type == 'generic'">
                <div class="form-group form-group-sm">
                    <label for="name" class="control-label col-sm-3">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="name" ng-model="instanceCtrl.instance.generic.name" placeholder="Name of the instance"
                            required />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="host" class="control-label col-sm-3">Host:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="host" ng-model="instanceCtrl.instance.generic.host" placeholder="DNS Name or IP Address"
                            required />
                    </div>
                </div>
            </div>

            <div ng-if="instanceCtrl.instance.type == 'aws'">
                <div class="form-group form-group-sm">
                    <label for="awsProfile" class="control-label col-sm-3">AWS Profile:</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm" id="name" ng-options="profile as profile.name for profile in instanceCtrl.awsProfiles" ng-model="instanceCtrl.instance.aws.profile"
                            ng-change="instanceCtrl.changeAWSProfile()" placeholder="Choose existing AWS profile" required></select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="name" class="control-label col-sm-3">AWS Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="name" ng-model="instanceCtrl.instance.aws.instance" uib-typeahead="instance as instanceCtrl.getInstanceLabel(instance) for instance in instanceCtrl.awsInstances | filter:$viewValue | limitTo:12" ng-disabled="!instanceCtrl.instance.aws.profile" placeholder="Type AWS instance detail such as instanceId, name etc"
                            required />
                    </div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label for="connectType" class="control-label col-sm-3">Connect via:</label>
                <div class="col-sm-9">
                    <select class="form-control input-sm" name="connectType" ng-options="k as v.label for (k, v) in instanceCtrl.config.instance.connection.types"
                        ng-model="instanceCtrl.instance.connection.type" required></select>
                </div>
            </div>

            <div ng-if="instanceCtrl.instance.connection.type != 'direct'" class="form-group form-group-sm">
                <div ng-if="instanceCtrl.sshInstances.length>0">
                    <label for="existingInstance" class="control-label col-sm-3" uib-tooltip="Choose an existing instance, having SSH capability">Existing Instance:</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control input-sm" ng-options="instanceCtrl.db.getUniqueId(i) as i.name for i in instanceCtrl.sshInstances"
                                    ng-model="instanceCtrl.instance.connection.ref" required>
                                            <option value="">--Select--</option>
                                        </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="instanceCtrl.sshInstances.length==0">
                    <p style="color:red">Error, No existing instance can be found, with tunneling(ssh) capability. Please, add new instance, which will be utilized to create tunnel with this instance.</p>
                </div>
                
            </div>
        </form>

    <!-- Add Application -->
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Port</th>
                    <th>Config</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in instanceCtrl.instance.applications">
                    <td>{{a.type}}</td>
                    <td>{{a.port}}</td>
                    <td>{{instanceCtrl.getConfiguration(a)}}</td>
                    <td><i class="fa fa-edit" style="margin-right: 8px;" ng-click="instanceCtrl.editApplication(a, $index)"></i><i class="fa fa-trash" ng-click="instanceCtrl.instance.applications.splice($index, 1)"></i></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-sm" ng-click="instanceCtrl.editApplication()">Add Application</button>
    </div>

</div>