<div class="modal-header modal-header-galaxy modal-header-fullscreen">
    <h5 style="display:inline-block;"><i class="fa fa-arrow-left" data-dismiss="modal" ng-click="instanceCtrl.no()"></i> {{!instanceCtrl.editMode?'Add':'Edit'}}
        Instance Detail</h5>
    <button type="button" class="btn btn-primary pull-right btn-sm" ng-disabled="instanceCtrl.isInvalid()" ng-click="instanceCtrl.saveInstance()">Save</button>
    <button type="button" class="btn btn-default pull-right btn-sm" ng-click="instanceCtrl.testConnection()">Test Connection</button>
</div>
<div class="modal-body" style="width:50%">
        <form name="instance" novalidate class="form-horizontal">
            <div class="form-group form-group-sm required">
                <label for="type" class="control-label col-sm-3">Type:</label>
                <div class="col-sm-9">
                    <select class="form-control input-sm" id="type" ng-model="instanceCtrl.instance.type" ng-options="k as v.label for (k,v) in instanceCtrl.config.profile.types"
                        required></select>
                </div>
            </div>

            <div ng-if="instanceCtrl.utils.isGenericType(instanceCtrl.instance)">
                <div class="form-group form-group-sm required">
                    <label for="name" class="control-label col-sm-3">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="name" ng-model="instanceCtrl.instance.generic.name" placeholder="Name of the instance"
                            required />
                    </div>
                </div>
                <div class="form-group form-group-sm required">
                    <label for="host" class="control-label col-sm-3">Host:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="host" ng-model="instanceCtrl.instance.generic.host" placeholder="DNS Name or IP Address"
                            required />
                    </div>
                </div>
            </div>

            <div ng-if="!instanceCtrl.utils.isGenericType(instanceCtrl.instance)">
                <div class="form-group form-group-sm required">
                    <label for="awsProfile" class="control-label col-sm-3" ng-show="instanceCtrl.utils.isAWSType(instanceCtrl.instance)">AWS Profile:</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm" id="name" ng-options="instanceCtrl.db.getUniqueId(profile) as profile.name for profile in instanceCtrl.cloudProfiles" ng-model="instanceCtrl.instance.cloud.profileId"
                            ng-change="instanceCtrl.changeCloudProfile()" placeholder="Choose existing profile" required></select>
                    </div>
                </div>
                <div class="form-group form-group-sm has-feedback required">
                    <label for="name" class="control-label col-sm-3" ng-show="instanceCtrl.utils.isAWSType(instanceCtrl.instance)">AWS Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-sm" id="name" ng-model="instanceCtrl.instance.cloud.instanceName" uib-typeahead="i for i in instanceCtrl.getCloudInstancesName($viewValue, 12)" typeahead-loading="loadingInstances" typeahead-no-results="noResults" ng-disabled="!instanceCtrl.instance.cloud.profileId" placeholder="Type instance detail such as instanceId, name, ip-address, host etc"
                            required />
                        <span class="form-control-feedback" style="margin-top: -2px" ng-show="loadingInstances"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-sm required">
                <label for="connectType" class="control-label col-sm-3">Connect via:</label>
                <div class="col-sm-9">
                    <select class="form-control input-sm" name="connectType" ng-options="k as v.label for (k, v) in instanceCtrl.config.instance.connection.types"
                        ng-model="instanceCtrl.instance.connection.type" required></select>
                </div>
            </div>

            <div ng-if="instanceCtrl.instance.connection.type != 'direct'" class="form-group form-group-sm required">
                <div ng-if="instanceCtrl.sshInstances.length>0">
                    <label for="existingInstance" class="control-label col-sm-3" uib-tooltip="Choose an existing instance, having SSH capability">Existing Instance:</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control input-sm" ng-options="instanceCtrl.db.getUniqueId(i) as instanceCtrl.utils.getInstanceName(i) for i in instanceCtrl.sshInstances"
                                    ng-model="instanceCtrl.instance.connection.ref" required>
                                            <option value="">--Select--</option>
                                        </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="instanceCtrl.sshInstances.length==0">
                    <p style="color:red">Error, No existing instance can be found, with tunneling(ssh) capability. Please, add new instance, which will be utilized to create tunnel with this instance.</p>
                </div>
                
            </div>
        </form>

    <!-- Add Application -->
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Port</th>
                    <th>Protocol</th>
                    <th>Config</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="a in instanceCtrl.instance.applications">
                    <td>{{a.type}}</td>
                    <td>{{a.port}}</td>
                    <td>{{a.protocol}}</td>
                    <td>{{instanceCtrl.getConfiguration(a)}}</td>
                    <td><i class="fa fa-edit" style="margin-right: 8px;" ng-click="instanceCtrl.editApplication(a, $index)"></i><i class="fa fa-trash" ng-click="instanceCtrl.instance.applications.splice($index, 1)"></i></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-sm" ng-click="instanceCtrl.editApplication()">Add Application</button>
    </div>

</div>