<!doctype html>
<html ng-app="galaxy">

<head>
  <meta charset="utf-8">
  <title>GalaxyBot</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link href="main/main.css" rel="stylesheet" type="text/css">
  
</head>

<body>
  <div class="preload">
    <div class="centered">
      <div class=row>
        <div class="col-sm-3" style="padding-top: 32px;">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
              </div>
          
        </div>
        <div class="col-sm-9">
          <h1 class="title">GalaxyBot</h1>
          <p class="tag" style="padding-left: 4px;">Connect any platform</p>
        </div>
      </div>
    </div>
  </div>
  
</body>


</html>